@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif;
    --font-cormorant: "Cormorant Garamond", serif;
    --font-playfair: "Playfair Display", serif;
    --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
}